a {
    scroll-behavior: smooth;
}

#foto {
display: table;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  text-align: center;
  color: white;
  background-position: 30% 45%;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  filter: grayscale(100%);
}

::before #foto {
    background-color: black;
}

::after #foto {
    background-color: black;
}

